<app-navbar></app-navbar>



<!--opening tag for body-->
<body class="content">
    <!---container for row-->
    <div class="container">
      <!----row container-->
      <div class="row earth">
        <!---column for image of planet-->
        <div class="col-md-6 col-sm-6 mb-5" id="container-image">
          <!----container for planet image-->
          <div class="center-image">
         <img class = "planet-image" src="assets/images/uranus/uranus.png" alt="uranus">
        </div>
        <!---closing tag for planet image-->
            </div>
            <!---closing tag for column-->
  
            <!---opening tag for cloumn for container for planet description-->
        <div class="col-md-6 col-sm-6">
          <!---opening tag for container for planet description-->
          <div class="container-descriptive">
           <h1 class="planet-earth">Uranus</h1>
           <p class="planet-description pl-5">
            Uranus is the seventh planet from the Sun. Its name is a reference to the Greek god of the sky, 
            Uranus, who, according to Greek mythology, was the great-grandfather of Ares (Mars), grandfather of Zeus 
            (Jupiter) and father of Cronus (Saturn). It has the third-largest planetary radius and fourth-largest planetary
             mass in the Solar System. Uranus is similar in composition to Neptune, and both have bulk chemical compositions 
             which differ from that of the larger gas giants Jupiter and Saturn.
           </p>
           <!---container for source-->
           <div class="shadow-lg p-3 mb-5 bg-dark rounded">Source : <a href="https://en.wikipedia.org/wiki/Uranus" style="color: gray;">  Wikipedia</a></div>
           <!----container for list-group items-->
           <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action mb-3" aria-current="true">
             <span class = "over">01</span> OVERVIEW
            </a>
            <a href="#" class="list-group-item list-group-item-action mb-3"> <span class="internal">02</span> INTERNAL STRUCTURE</a>
            <a href="#" class="list-group-item list-group-item-action mb-3"> <span class="surface">03</span> SURFACE GEOLOGY</a>
            </div>
            <!---closing tag for container for list group items-->
          </div>
          <!---closing tag for container for planet description-->
        </div>
        <!---closing tag for column for planet description-->
      </div>
      <!---closing tag for row-->
  
      <br>
      <br>


      <div class="row">
        <div class="col-md-3 mb-3 text-center" id="description">
          <p class="title">
            ROTATION TIME
          </p>
          <h1 class="about" [countUp]="endVal" [options]="rotation">0</h1>
        </div>
        <div class="col-md-3 mb-3  text-center" id="description">
          <p class="title">
            REVOLUTION TIME
          </p>
          <h1 class="about" [countUp]="endVal1" [options]="revolution">0</h1>
        </div>
        <div class="col-md-3 mb-3 text-center" id="description">
          <p class="title">
            RADIUS
          </p>
          <h1 class="about" [countUp]="endVal2" [options]="radius">0</h1>
        </div>
        <div class="col-md-3 mb-3 text-center" id="description">
          <p class="title">
            AVERAGE TEMP
          </p>
          <h1 class="about" [countUp]="endVal3" [options]="temperature">0 <span style="font-size: 40px;">&#8451;</span></h1>
        </div>
      </div>
 
    </div>
    <!---closing tag for container-->
  
    </body>
    <!---closing tag for body container-->
  