
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand ml-3" href="#">THE PLANETS</a>
    <button class="navbar-toggler" type="button" 
    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item px-2">
          <a class="nav-link px-3" routerLink = "/" routerLinkActive = "mercury" [routerLinkActiveOptions] = "{exact:true}">MERCURY</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link px-3" routerLink="/venus" [routerLinkActive] = "['venus']">VENUS</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link px-3" routerLink="/earth" routerLinkActive = "earth">EARTH</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link px-3" routerLink="/mars" routerLinkActive = "mars">MARS</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link px-3" routerLink="/jupiter" routerLinkActive = "jupiter">JUPITER</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link px-3" routerLink="/saturn" routerLinkActive = "saturn">SATURN</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link px-3" routerLink="/uranus" routerLinkActive = "uranus">URANUS</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link px-3" routerLink="/neptune" routerLinkActive = "neptune">NEPTUNE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
